#gameboard{
     width: 500px;
     aspect-ratio: 1;
     display: flex;
     flex-wrap: wrap;
     border: 1px solid #000;
}
.square{
     aspect-ratio: 1;
     border: 2px solid #000;
     flex: 0 0 auto;
     width: 33.33333333%;
     cursor: pointer;
}
.h-20p{height: 20%;}
.h-25p{height: 25%;}
.h-75p{height: 75%;}
.h-100p{height: 100%;}
.h-100v{height: 100vh;}
